div.svelte-k6nbli{width:150px;height:200px;margin:0 10px;display:flex;justify-content:center;align-items:center;background-color:var(--theme-dividers)}
div.svelte-k6nbli{width:150px;height:200px;margin:0 10px;display:flex;justify-content:center;align-items:center;background-color:var(--theme-dividers)}
