.slide.svelte-1y8wrmd{height:200px;display:flex;align-items:center;justify-content:center;color:#fff}
.slide.svelte-1y8wrmd{height:200px;display:flex;align-items:center;justify-content:center;color:#fff}
.slide.svelte-1y8wrmd{height:200px;display:flex;align-items:center;justify-content:center;color:#fff}
